<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="ui container" style="margin-top:100px;">
  <%= render :file=> 'app/views/partials/message.html.erb' %>
</div>

<div class="ui basic segment" style="margin: auto; width: 70%;">
  <h1 class="ui header">
    <div><i class="edit icon"></i>Edit Season <%= @season.season_no %> of <em><%= @show.name %></em></div>
  </h1>
  <%= render 'season', form: @season %>
  <br>
  <%= link_to "Delete".html_safe, {action: "destroy", id: @season.id}, method: :delete, style: 'color:#fff;', class: 'ui red button' %>
</div>
