<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="ui basic segment" style="margin-top: 90px;">
  <%= render :file=> 'app/views/partials/message.html.erb' %>
  <div class="ui basic segment" style="margin: auto; width: 70%;">
    <h1 class="ui header">
      <div><i class="edit icon"></i>Edit Season of <em><%= @show.name %></em></div>
    </h1>

    <%= form_for @season do |f| %>
      <div class="ui grid">
        <div class="eight wide column">
          <div class="ui form">
            <div class="field">
              <label>SEASON NO.</label>
              <%= f.text_field :season_no, placeholder: "Season No", style: "height:38px"%>
              <br>
            </div>
          </div><br>

          <div class="ui form">
            <div class="field">
              <label>START DATE</label>
              <%= f.text_field :start_date, :placeholder => "Start Date", style: "height:38px" %>
            </div>
          </div><br>

          <div class="ui form">
            <div class="field">
              <label>END DATE</label>
              <%= f.text_field :end_date, :placeholder => "End Date", style: "height:38px" %>
            </div>
          </div>

        </div>
      </div>
        <br>
        <button type="submit" class="ui green button submit-button">Submit</button>
        <div class="ui grey button">
          <%= link_to "Back", show_path(@show), style: 'color:#fff;' %>
        </div><br><br>
        <div class="ui red button">
          <%= link_to "Delete".html_safe, {action: "destroy", id: @season.id}, method: :delete, style: 'color:#fff;' %>
        </div>
    <% end %>
  </div>
</div>
