<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="ui container" style="margin-top:100px;">
  <%= render :file=> 'app/views/partials/message.html.erb' %>

  <% if File.file? "#{Rails.public_path}/logos/#{@show.code}.jpg" %>
    <img src="/logos/<%= @show.code %>.jpg" class="ui small image" id="show-logo">
  <% else %>
    <img src="/logos/SAMPLE.jpg" class="ui small image" id="show-logo">
  <% end %>

  <h1><a href="/shows/<%= @show.id %>" id="show-name"><%= @show.name %></a></h1>

  <div class="ui buttons">
    <% if @seasons.first == @season %>
      <div class="ui disabled icon button"><i class="left chevron icon"></i></div>
    <% else
        @prev_id = @seasons[@seasons.index(@season)-1].id
    %>
        <a href="/seasons/<%= @prev_id %>" style="color:#676868;" class="ui icon button"><i class="left chevron icon"></i></a>
    <% end %>

    <div class="ui floating dropdown icon button">
      <span class="text">Season <%= @season.season_no %></span>&emsp;
      <i class="dropdown icon"></i>
      <div class="menu">
        <% @seasons.each do |s| %>
          <a class="item" href="/seasons/<%= s.id %>">Season <%= s.season_no %></a>
        <% end %>
      </div>
    </div>

    <% if @seasons.last == @season %>
      <div class="ui disabled icon button"><i class="right chevron icon"></i></div>
    <% else
        @next_id = @seasons[@seasons.index(@season)+1].id
    %>
        <a href="/seasons/<%= @next_id %>" style="color:#676868;" class="ui icon button"><i class="right chevron icon"></i></a>
    <% end %>
  </div>

  <% if @episodes.count > 0 %>
    <div class="ui styled fluid accordion" style="margin-top:40px;">
      <% @episodes.each do |episode| %>
        <div class="title">
          <div class="ui stackable grid">
            <div class="left aligned two wide column">
              <% if current_user.present? %>
                <% @track = current_user.trackers.where(episode_id: episode.id) %>
                <% if @track.present? %>
                  <%= link_to "<i class='red minus circle large icon'></i>".html_safe, {action: "unwatch", id: @track.first.id}, method: :POST, class: "green plus circle large icon" %>
                <% else %>
                  <%= link_to "<i class='green plus circle large icon'></i>".html_safe, {action: "watch", id: episode.id}, method: :POST, class: "green plus circle large icon" %>
                <% end %>
              <% else %>
                  <i class="green plus circle large icon login button pointer"></i></a>
              <% end %>

              <span id="details">&emsp;
                <%= episode.showep_no %>&emsp;
                <%= episode.episode_no %>
              </span>
            </div>

            <div class="eleven wide column" id="details">
              <%= episode.title %>
            </div>

            <div class="right aligned three wide column">
              <span id="details"><%= episode.try(:air_date).try(:strftime, ("%b %d, %Y")) %>&emsp;</span>
              <% if current_user.present? && current_user.is_admin? %>
                <%= link_to "<i class='green edit large icon'></i>".html_safe, {controller: "episodes", action: "edit", id: episode.id} %>
                <%= link_to "<i class='red delete large icon'></i>".html_safe, {controller: "episodes", action: "destroy", id: episode.id}, method: :delete %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="content" style="margin-left:40px;">
          Episode details
        </div>
      <% end %>
    </div>
  <% end %>
</div>
