<div class="ui top fixed borderless menu" id="header_menu" style="background-color:#353D35;">
  <div class="item" id="header_left">
    <a id="white_text" href="/" style="font-size: 15px"><strong>Dormitory ID Scanner</strong></a>
  </div>
  <div class="right menu">
    <%if current_user.present? %>
      <% if current_user.is_admin? %>
         <div class="ui item">
           <a class="white_text" href="/dailyreports">DAILY REPORT</a>
         </div>
 
       <div class="ui item" id="header_right">
         <div class="ui dropdown" id="white_text">
           <div class="text">
              STUDENTS
           <i class="dropdown icon"></i>
           </div>
           <div class="menu" id="dropdown_menu">
             <a class="item" href="/dormers">DORMERS</a>
             <a class="item" href="/dormers/new">ADD A STUDENT</a>
           </div>
         </div>
         <div class="ui dropdown" id="white_text">
           <div class="text">
              BEDCHECK
           <i class="dropdown icon"></i>
           </div>

          <div class="menu" id="dropdown_menu">
            <a class="item" href="/bedchecks/new">NEW BEDCHECK</a>
            <a class="item" href="/bedchecks">ENDORSEMENT LIST</a>
          </div>
     
         </div>

        <div class="ui dropdown" id="white_text">
            <div class="text">
              Hi, <%= current_user.name %>!
              <i class="dropdown icon"></i>
            </div>
          <div class="menu" id="dropdown_menu">
            <a class="item" href="/logout">Log Out</a>
          </div>
        </div>
      </div>
      <% end %>
    
    <% else %>
    <div class="ui item" id="header_right">
        <div class="ui inverted login button">Admin Log In</div>
    </div>
    <% end %>
  </div>
</div>

<div class="ui container" style="margin-top:90px; margin-bottom:40px;">
  <%= render :file=> 'app/views/partials/message.html.erb' %>
</div>

<div class="ui login mini modal" style="width: 300px;">
  <i class="close icon"></i>
  <div class="header">
    <center>LOG IN</center>
  </div>
  <div class="content">
    <%= form_tag(:controller => 'sessions', :action => 'create') do %>
      <div class="ui form">
        <div class="field">
          <label id="modal_text">USERNAME</label>
          <%= text_field_tag :username, nil, placeholder: "Enter username" %>
        </div>
        <div class="field">
          <label id="modal_text">PASSWORD</label>
          <%= password_field_tag :password, nil, placeholder: "Enter password" %>
        </div>
      </div>
      <center><button type="submit" class="ui button" id = "login_button", style="background-color: #64B5F6; color: white">LOG IN</button></center>
    <% end %>
  </div>
</div>

<div class="ui signup mini modal" style="width: 300px;">
  <i class="close icon"></i>
  <div class="header">
    <center>CREATE AN ACCOUNT</center>
  </div>
  <div class="content">
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
      <div class="ui form">
        <div class="field">
          <label id="modal_text">NAME</label>
          <%= f.text_field :name, placeholder: "Enter name" %>
        </div>
        <div class="field">
          <label id="modal_text">USERNAME</label>
          <%= f.text_field :username, placeholder: "Enter username" %>
        </div>
        <div class="field">
          <label id="modal_text">PASSWORD</label>
          <%= f.password_field :password, placeholder: "Enter password" %>
        </div>
        <div class="field">
          <label id="modal_text">PASSWORD</label>
          <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
        </div>
      </div>
      <center><button type="submit" class="ui button" id = "signup_button", style="background-color: #64B5F6; color: white">SIGN UP</button></center>
    <% end %>
  </div>
</div>
