<div class="ui top fixed borderless menu" id="header_menu">
    <div class="item"><a id="header_text" href="/shows">TV Tracker</a></div>
        <div class="right menu">
            <div class="ui item">
                <div class="ui test button">Sign up</div>
            </div>
        </div>
</div>

<div class="ui test modal">
  <i class="close icon"></i>
  <div class="header">
    Log In
  </div>
  <div class="content">
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
      <p> Username:</br> <%= f.text_field :username%> </p>
      <p> Email:</br> <%= f.text_field :email%> </p>
      <p> Password:</br> <%= f.password_field :password%></p>
      <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
      <%= f.submit :Signup %>
    <% end %>
  </div>
</div>
