<div class="ui top fixed borderless menu" id="header_menu">
  <div class="item" id="header_left">
    <a id="header_text" href="/"><strong>TV GUIDE + TRACKER</strong></a>
  </div>
  <div class="right menu">
    <div class="ui item">
      <a href="/shows" id="header_text">BROWSE</a>
    </div>
    <div class="ui item" id="header_right">
      <%if current_user.present? %>
        <a id="header_text" href="/trackers">TRACKER</a>
      <% end %>
    </div>
    <div class="ui item" id="header_right">
      <% if current_user.present? %>
        <div id="header_text"> Hi, <%= current_user.name %>! </div>
      <% else %>
        <div class="ui inverted login button">Log In</div>
      <% end %>
    </div>
  </div>
</div>

<div class="ui login mini modal" style="width: 300px;">
  <i class="close icon"></i>
  <div class="header">
    <center>LOG IN</center>
  </div>
  <div class="content">
    <%= form_for :user, url: {controller: "sessions", action: "create"} do |f| %>
      <div class="ui form">
        <div class="field">
          <label id="modal_text">USERNAME</label>
          <%= f.text_field :username, placeholder: "Enter username" %>
        </div>
        <div class="field">
          <label id="modal_text">PASSWORD</label>
          <%= f.password_field :password, placeholder: "Enter password" %>
        </div>
      </div>
      <center><button type="submit" class="ui button" id = "login_button">LOG IN</button></center>
    <% end %>
    <a class="ui pointer signup link" id="show_name"><center>Create an account</center></a>
  </div>
</div>

<div class="ui signup mini modal" style="width: 300px;">
  <i class="close icon"></i>
  <div class="header">
    <center>CREATE AN ACCOUNT</center>
  </div>
  <div class="content">
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
      <div class="ui form">
        <div class="field">
          <label id="modal_text">NAME</label>
          <%= f.text_field :name, placeholder: "Enter name" %>
        </div>
        <div class="field">
          <label id="modal_text">USERNAME</label>
          <%= f.text_field :username, placeholder: "Enter username" %>
        </div>
        <div class="field">
          <label id="modal_text">PASSWORD</label>
          <%= f.password_field :password, placeholder: "Enter password" %>
        </div>
        <div class="field">
          <label id="modal_text">PASSWORD</label>
          <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
        </div>
      </div>
      <center><button type="submit" class="ui button" id = "login_button">SIGN UP</button></center>
    <% end %>
  </div>
</div>
