<div>
  <div class="ui center aligned basic segment">
    <div class="ui horizontal divider">
      <h3>COMING THIS WEEK</h3>
    </div>
  </div>
</div>

<% if @soon == 1 %>
  <div class="ui container">
    <div class="ui stackable internally four column grid container">
      <% @date = ""
        @upcoming.each do |episode|
        @season = Season.find(episode.season_id)

        if @show_ids.include?(@season.show_id)
          @show = Show.find(@season.show_id)
      %>
          <% if @date != episode.air_date
              @date = episode.air_date
          %>
            <div class="row" id="bold">
              <%= @date.strftime("%B %d, %Y") %>
            </div>
          <% end %>

        <% if File.file? "#{Rails.public_path}/logos/#{@show.code}.jpg" %>
          <div class="column" id="show_upcoming" style="background-image: url('/posters/<%= @show.code %>.jpg');">
        <% else %>
          <div class="column" id="show_upcoming" style="background-image: url('/posters/SAMPLE.jpg');">
        <% end %>

            <div id="overlay_upcoming">
              <div id="overlay_text_upcoming">
                <a href="/shows/<%= @show.id %>" id="overlay_name_upcoming"><%= @show.name %></a><br>
                S<% if @season.season_no < 10 %>0<% end %><%= @season.season_no %>
                E<% if episode.episode_no < 10 %>0<% end %><%= episode.episode_no %>
                | <%= episode.title %><br>
                <%= @show.network %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div id="no_shows">There are no shows airing for the rest of the week.</div>
<% end %>
<br><br><br>
