<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="ui container" style="margin-top:100px;">
  <%= render :file=> 'app/views/partials/message.html.erb' %>
</div>

<div class="ui basic segment" style="margin: auto; width: 70%;">
  <h1 class="ui header">
    <div><i class="add circle icon"></i>Add Episode of <em><%= @show.name %>, Season <%= @season.season_no %></em></div>
  </h1>
  <%= render 'episode', form: @episode %>
</div>
