<style type="text/css">

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; background-color: #E8EAF6}
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.ui.button {
  background-color: #64B5F6;
  color: white;
  margin-bottom: 70px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
</style>

<script>
function myFunction() {
    var x = document.getElementById("ad-search");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="ui fixed center aligned container" style="margin-top: 200px">
  <div id="home_no_shows">
    <div id="ad-search">
    <%= form_tag({:controller=>"home", :action=>"filter_search"}, method: :post, class: "ui big form") do %>
      
      <div class="three fields">
        <div class="field">
          <label>Title</label>
          <%= search_field_tag :title_input, nil, placeholder: 'Goblin', :autofocus => true%> 
        </div>
        <div class="field">
          <label>TV Network</label>
          <%= search_field_tag :network_input, nil, placeholder: 'tvN' %> 
        </div>
        <div class="field">
          <label>Year</label>
          <%= search_field_tag :year_input, nil, placeholder: 'YYYY' %>
        </div>
      </div>
      <%= submit_tag 'Search', name: nil, class: "ui button"%> 
    <% end %>
    </div>
    
    <% if @filter.present? %>
    
    <h3><%= @result %></h3>

    <div class="ui four column grid" style="margin-top: 20px">
      <% @shows.each do |show| %>
        <div class="column center aligned" style="margin-bottom: 25px">    
          <% if show.attachment.present? %>
            <a href="/shows/<%= show.id %>"><img src="<%= show.attachment %>" class="ui medium image" style="width:100%; border: 7px solid #B39DDB"></a>
          <% else %>
            <a href="/shows/<%= show.id %>"><img src="/logos/SAMPLE.jpg" class="ui medium image" style="width:100%; border: 7px solid #BBDEFB"></a>
          <% end %>
          <br>
          <a href="/shows/<%= show.id %>" id="show_name"><%= show.name %></a> <br> <%= show.network %> <br> <%= show.start_year %>
        </div>
      <% end %>
    </div>
    
    <% end %>
  </div>
</div>
