<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="ui one column grid container" style="margin-top:50px;">
  <% if @tracked.empty? %>
    <div class="ui fixed center aligned container">
      <div id="home_no_shows">
        <div id="tracker-text">No shows found.</div>
        <div id="tracker-margin">
          <a href="/shows" id="start-tracking">Start tracking!</a>
        </div>
      </div>
    </div>

  <% else
    @tracked.each do |show| %>
      <div class="column">
        <a href="/shows/<%= show.id %>"><img src="/logos/<%= show.code %>.jpg" class="ui medium image" id="show-logo"></a>
        <a href="/shows/<%= show.id %>" id="show-name"><h1><%= show.name %></h1></a>
        <%= show.network %>&emsp;&#8226;&emsp;
        <%= show.start_year %>
        <% if show.end_year.present? & (show.start_year != show.end_year)%>
              - <%= show.end_year %>
        <% end %>&emsp;&#8226;&emsp;
        <%= show.seasons.count %>
        <% if show.seasons.count == 1 %>
              Season
        <% else %>
              Seasons
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
