<%= render :file=> 'app/views/partials/header.html.erb' %>

<style type="text/css">

</style>

<div class="container-tracker">
    <div class="tracker">

        <% if @tracked.empty? %>
            <div class="tracker-card">
                <div class="no-show-text">No shows found.</div>
                <a href="/shows" class="start-button">Start tracking!</a>
            </div>

        <% else @tracked.each do |show| %>
            <% if File.file? "#{Rails.public_path}/logos/#{show.code}.jpg" %>
                <a href="/shows/<%= show.id %>">
                    <img src="/logos/<%= show.code %>.jpg" id="show_logo">
                </a>
            <% else %>
                <a href="/shows/<%= show.id %>">
                    <img src="/logos/SAMPLE.jpg" id="show_logo">
                </a>
            <% end %>

            <a href="/shows/<%= show.id %>" id="show_name">
                <%= show.name %>
            </a>

            <% if show.network.present? %>
                <%= show.network %>
            <% end %>

            <% if show.start_year.present? %>
                <%= show.start_year %>
                <% if show.end_year.present? && (show.start_year != show.end_year) %>
                - <%= show.end_year %>
                <% end %>
            <% end %>

            <%= show.seasons.count %>
            <% if show.seasons.count == 1 %>
                Season
            <% else %>
                Seasons
            <% end %>

            <% end %>
        <% end %>

    </div>
</div>