<%= form_for @show, html: { multipart: true } do |f| %>
<div class="ui three column grid"> 
  <div class="column"></div>
  <div class="column"> 
      <div class="ui form">
        <div class="field">
          <label>CODE</label>
          <%= f.text_field :code, placeholder: "Show Code", style: "height:38px", required: true %>
          <br>
        </div>
      </div><br>

      <div class="ui form">
        <div class="field">
          <label>NAME</label>
          <%= f.text_field :name, placeholder: "Show Name", style: "height:38px", required: true %>
          <br>
        </div>
      </div><br>

      <div class="ui form">
        <div class="field">
          <label>NETWORK</label>
          <%= f.text_field :network, :placeholder => "Show Network", style: "height:38px", required: true %>
          <br>
        </div>
      </div><br>

      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>START YEAR</label>
            <%= f.text_field :start_year, :placeholder => "Start Year", style: "height:38px", required: true %>
            <br>
          </div>
          <div class="field">
            <label>END YEAR</label>
            <%= f.text_field :end_year, :placeholder => "End Year", style: "height:38px", required: true %>
            <br>
          </div>
        </div>
      </div><br>
      
      <div class="ui form">
        <div class="field">
          <label>CASTS</label>
          <%= f.text_field :casts, :placeholder => "Casts", style: "height:38px", required: true %>
          <br>
        </div>
      </div><br>
      
      <div class="ui form">
        <div class="field">
          <label>DIRECTOR</label>
          <%= f.text_field :director, :placeholder => "Director", style: "height:38px", required: true %>
          <br>
        </div>
      </div><br>
      
      <div class="ui form">
        <div class="field">
          <label>RUNTIME PER EPISODE</label>
          <%= f.text_field :runtime, :placeholder => "Runtime per episode", style: "height:38px", required: true %>
          <br>
        </div>
      </div><br>
      
      <div class="ui form">
        <div class="field">
          <label>LANGUAGE</label>
          <%= f.text_field :language, :placeholder => "Language", style: "height:38px", required: true %>
          <br>
        </div>
      </div><br>
      
      <div class="ui form">
        <div class="field">
          <label>SYNOPSIS</label>
          <%= f.text_area :synopsis, :placeholder => "Synopsis", :cols => "10", :rows => "10", required: true %>
          <br>
        </div>
      </div><br>


    	 <br><label><strong>SHOW COVER</strong></label>
    	 <br><%= f.file_field :attachment %>

      <br>
      <br>
      <button type="submit" class="ui blue button submit-button">Submit</button>
      <% if @show.id != nil %>
        <%= link_to "Back", show_path(@show), style: 'color:#fff;', class: 'ui grey button' %>
      <% else %>
        <%= link_to "Back", shows_path, style: 'color:#fff;', class: 'ui grey button' %>
      <% end %>
    <% end %>

    </div>
    <div class="column"></div>

  </div>
