<%= form_for @show do |f| %>
  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui form">
        <div class="field">
          <label>NAME</label>
          <%= f.text_field :name, placeholder: "Show Name", style: "height:38px"%>
          <br>
        </div>
      </div><br>

      <div class="ui form">
        <div class="field">
          <label>NETWORK</label>
          <%= f.text_field :network, :placeholder => "Show Network", style: "height:38px" %>
        </div>
      </div><br>

      <div class="ui form">
        <div class="field">
          <label>START YEAR</label>
          <%= f.text_field :start_year, :placeholder => "Start Year", style: "height:38px" %>
        </div>
      </div><br>

      <div class="ui form">
        <div class="field">
          <label>END YEAR</label>
          <%= f.text_field :end_year, :placeholder => "End Year", style: "height:38px" %>
        </div>
      </div>

    </div>
  </div>
  <br>
  <button type="submit" class="ui green button submit-button">Submit</button>
  <div class="ui grey button">
    <% if @show.id != nil %>
      <%= link_to "Back", show_path(@show), style: 'color:#fff;' %>
    <% else %>
      <%= link_to "Back", shows_path, style: 'color:#fff;' %>
    <% end %>
  </div>
<% end %>
