<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="ui stackable internally four column grid container" style="margin-top:50px;">
  <% @shows.each do |show| %>
    <div class="column center aligned">
      <a href="/shows/<%= show.id %>"><img src="/logos/<%= show.code %>.jpg" class="ui medium image"></a><br>
      <a href="/shows/<%= show.id %>" id="show-name"><%= show.name %></a>
    </div>
  <% end %>
</div>
