<%= render :file=> 'app/views/partials/header.html.erb' %>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<style type="text/css">
.checked {
    color: orange;
}

div.stars {
  width: 250px;
  float: top;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 3px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

</style>


<div class="ui container">
  <% if current_user.present? && current_user.is_admin? %>
    <%= link_to "<i class='edit large icon'></i> Edit".html_safe, {action: "edit", id: @show.id}, style: 'color:#fff;', class: 'ui compact green button float-right' %>
    <%= link_to "<i class='add large icon'></i> Add Season".html_safe, {controller: "seasons", action: "new", show_id: @show.id}, style: 'color:#fff;', class: 'ui compact blue button float-right' %>
  <% end %>
  
  <% if @show.attachment.present? %>
  	<img src="<%= @show.attachment %>" class="ui small image" id="show_logo">
  <% else %>
    <img src="/logos/SAMPLE.jpg" class="ui small image" id="show_logo">
  <% end %>
  

  
  
  <h1><%= @show.name %>  &emsp;
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
  	&emsp;
  	<h1>Community Average Rating: <%= @ave_rating %>  &emsp; </h1>
  </h1> 
   
	<% if current_user.present? %> 
	
	
	
	
	<div class="stars">
		
	<br>SHOW ID: <%= @show.id %>
  	<br>USER ID: <%= current_user.id %>
	
	<br><h3>Your Rating: <%= @user_rating %>  &emsp; </h3>
	
	<%= link_to "<i class='red minus circle large icon'></i>".html_safe, {controller: "ratings", action: "rate1", id: @show.id}, method: :POST, class: "green plus circle large icon" %>
	<%= link_to "<i class='red minus circle large icon'></i>".html_safe, {controller: "ratings", action: "rate2", id: @show.id}, method: :POST, class: "green plus circle large icon" %>
	<%= link_to "<i class='red minus circle large icon'></i>".html_safe, {controller: "ratings", action: "rate3", id: @show.id}, method: :POST, class: "green plus circle large icon" %>
	<%= link_to "<i class='red minus circle large icon'></i>".html_safe, {controller: "ratings", action: "rate4", id: @show.id}, method: :POST, class: "green plus circle large icon" %>
	<%= link_to "<i class='red minus circle large icon'></i>".html_safe, {controller: "ratings", action: "rate5", id: @show.id}, method: :POST, class: "green plus circle large icon" %>
	
	<!--
	<form action="">
		<input class="star star-5" id="star-5" type="radio" name="star"/>
		<label class="star star-5" for="star-5"></label>
		<input class="star star-4" id="star-4" type="radio" name="star"/>
		<label class="star star-4" for="star-4"></label>
		<input class="star star-3" id="star-3" type="radio" name="star"/>
		<label class="star star-3" for="star-3"></label>
		<input class="star star-2" id="star-2" type="radio" name="star"/>
		<label class="star star-2" for="star-2"></label>
		<input class="star star-1" id="star-1" type="radio" name="star"/>
		<label class="star star-1" for="star-1"></label>
	  </form>
	-->
	</div>	
	<% end %>

  <br>
  <% if @show.network.present? %>
    <br><br><b>TV Network:</b> <%= @show.network %>
  <% end %>
  
  <br><br><b>Casts:</b> <%= @show.casts %>
  
  <br><br><b>Director:</b> <%= @show.director %>
  
  <br><br><b>Synopsis:</b> <%= @show.synopsis %>
  
  <br><br><b>Runtime per episode:</b> <%= @show.runtime %>
  
  <br><br><b>Language:</b> <%= @show.language %>

  <% if @show.start_year.present? %>
    <br><br><b>Years aired: </b><%= @show.start_year %>

    <% if @show.end_year.present? && (@show.start_year != @show.end_year) %>
    - <%= @show.end_year %>
    <% end %>

  
  <% end %>

  <br><br><b>Season count: </b><%= @seasons.count %>
  <% if @seasons.count == 1 %>
        Season
  <% else %>
        Seasons
  <% end %>

  <br><br><br>

  <% if @seasons.count > 0 %>
    <div class="ui three stackable special cards">
      <% @seasons.each do |season| %>
        <div class="card blurring dimmable">
          <div class="content">
            <div class="header float-right">SEASON <%= season.season_no %></div>
          </div>

          <div class="content">
            <div class="meta"><strong>
              <%= season.episodes.count %>
              <% if season.episodes.count == 1 %>
                    EPISODE
              <% else %>
                    EPISODES
              <% end %>
            </strong></div>

            <% if !season.start_date.nil? %>
              <strong>PREMIERE DATE: </strong><%= season.try(:start_date).try(:strftime, ("%b %d, %Y")) %>
            <% end %><br>

            <% if !season.end_date.nil? %>
              <strong>FINALE DATE: </strong><%= season.try(:end_date).try(:strftime, ("%b %d, %Y")) %>
            <% end %><br>
          </div>

          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <%= link_to "<i class='eye large icon'></i> View".html_safe, {controller: "seasons", action: "show", id: season.id}, style: 'color:#fff;', class: 'ui inverted button' %>
                <% if current_user.present? && current_user.is_admin? %>
                  &emsp;&emsp;&emsp;
                  <%= link_to "<i class='edit large icon'></i> Edit".html_safe, {controller: "seasons", action: "edit", id: season.id}, style: 'color:#fff;', class: 'ui inverted button' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
