<p> Hey, I'm here! </p>


<p>
  <strong>Show ID:</strong>
  <%= @show.show_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Network:</strong>
  <%= @show.network %>
</p>

<p>
  <strong>Premiere Year:</strong>
  <%= @show.start_year %>
</p>

<p>
  <strong>Finale Year:</strong>
  <%= @show.end_year %>
</p>
