<%= render :file=> 'app/views/partials/header.html.erb' %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

<div class="review-container">

    <div class="review-write">
        <span>Write your review</span>
        <%= form_for @review, url:{controller: "reviews", action: "index", id: params[:id]}, method: :POST do |f| %>
            <%= f.text_area :text%>
            <button class="ui teal compact button" style="margin-top: 10px" type="submit">Submit</button>
        <% end %>
    </div>

    <div class="reviews">
        <div class="review-label">Reviews</div>
        <% if @reviews.empty? %>
            <div class="review-individual">
                No Reviews Yet!
            </div>
        <% else @reviews.each_with_index do |review,i| %>
            <div class="review-individual">
                <div class="ui medium header review-name">
                    <h3><i class="far fa-user-circle"></i>
                    <% @users.each do |user| %>
                        <% if user.id == review.user_id %>
                            <%= user.name %></h3>
                        <% end %>
                    <% end %>
                </div>
                <div>
                    <p style="font-size: 20px"><%= review.text %></p>
                </div>
                <div class="review-button">
                    <% if current_user.present? %>
                        <% if current_user.is_admin? || review.user_id == current_user.id%>
                        <%= link_to 'Edit', edit_review_path(review),class:"ui teal compact button" %>
                        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' },class:"ui red compact button" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <% end %>
    </div>

</div>