<%= render :file=> 'app/views/partials/header.html.erb' %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

<div class="review-container">

    <div class="review-write">
        <span>Write your review</span>
        <%= form_for @review, url:{controller: "reviews", action: "index", id: params[:id]}, method: :POST do |f| %>
            <%= f.text_area :text%>
            <button type="submit">Submit</button>
        <% end %>
    </div>

    <div class="reviews">
        <div class="review-label">Reviews</div>
        <% @reviews.each_with_index do |review,i| %>
            <div class="review-individual">
                <div class="review-name">
                    <i class="far fa-user-circle"></i>
                    <%= @users[i].name %>
                </div>
                <div>
                    <%= review.text %>
                </div>
                <div class="review-button">
                    <%= link_to 'Edit', edit_review_path(review),class:"edit" %>
                    <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' },class:"delete" %>
                </div>
            </div>
        <% end %>
    </div>

</div>