<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= form_for @review, url:{controller: "reviews", action: "index", id: params[:id]}, method: :POST do |f| %>
  
  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui form">
        <div class="field">
          <label>Text</label>
          <%= f.text_field :text, style: "height:38px"%>
          <br>
        </div>
      </div>
      <button type="submit" class="ui green button submit-button">Submit</button>
      <br>
<% end %>

  <tbody>
    <% @reviews.each_with_index do |review,i| %>
      <tr>
        <td>posted by: <%= @users[i].name %> </td>
        <td>comment: <%= review.text %> </td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
